<%- include('../inc/head') %> 
<%- include('../inc/navi') %> 
	<form action="/momber/join" method="POST" onsubmit="">
	</form>
	<script src="/js/member/join.js"></script>
<%- include('../inc/foot') %> 